<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{#x-card title="Teams"}}
                {{#if model.teams}}
                    {{team-list 
                        teams=model.teams
                        viewTeam=(route-action "viewTeam")
                    }}
                {{else}}
                    There are no teams associated with your organization.
                {{/if}}
            {{/x-card}}
        </div>
    </div>
</div>