<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{#x-card title="History"}}
        {{#each model.retrospectives as |retrospective|}}
          {{retrospective.name}}
        {{/each}}
      {{/x-card}}
    </div>
  </div>
</div>
