<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{#x-card title="History"}}
        {{team-history-list
          retrospectives=model.retrospectives
          isAdmin=isAdmin
          onConfirm=(route-action "confirmAction")
          onDelete=(route-action "deleteAction")
        }}
      {{/x-card}}
    </div>
  </div>
</div>
