<div class="hero front-page"></div>

<section class="white-bg pad-xl">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="pad-bottom-lg">Mirror helps you facilitate productive, successful retrospectives.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center marketing-block">
        <img class="marketing-icon" src="img/distributed-teams.svg" />
        <h4>Distributed Teams</h4>
        <p>Retrospectives are run in real-time, so all team members get immediate feedback.</p>
      </div>
      <div class="col-md-4 text-center marketing-block">
        <img class="marketing-icon" src="img/voices.svg" />
        <h4>Amplified Voices</h4>
        <p>Feedback can be public or anonymous, so team members feel comfortable speaking their mind.</p>
      </div>
      <div class="col-md-4 text-center marketing-block">
        <img class="marketing-icon" src="img/statistics.svg" />
        <h4>Useful Analytics</h4>
        <p>All input is preserved to providing useful insights on how the team can improve.</p>
      </div>
    </div>
  </div>
</section>
