<div class="hero front-page"></div>

<div id="learn-more">
  <section class="white-bg pad-top-xl pad-bottom-xl">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="pad-bottom-lg">Mirror helps you facilitate productive, successful retrospectives.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center marketing-block marketing-block-stacked">
          <img class="marketing-icon" src="/img/marketing/distributed-teams.svg" />
          <h4>Distributed Teams</h4>
          <p>Retrospectives are run in real-time, so all team members get immediate feedback.</p>
        </div>
        <div class="col-md-4 text-center marketing-block marketing-block-stacked">
          <img class="marketing-icon" src="/img/marketing/voices.svg" />
          <h4>Amplified Voices</h4>
          <p>Feedback can be public or anonymous, so team members feel comfortable speaking their mind.</p>
        </div>
        <div class="col-md-4 text-center marketing-block marketing-block-stacked">
          <img class="marketing-icon" src="/img/marketing/statistics.svg" />
          <h4>Useful Analytics</h4>
          <p>All input is preserved to provide useful insights on how the team can improve.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="primary-bg pad-top-xl pad-bottom-xl white-text">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-center marketing-block visible-xs-block">
          <img class="marketing-icon lg" style="width: 100%;" src="/img/marketing/time.svg" />
        </div>
        <div class="col-sm-8 marketing-block">
          <h3 class="pad-bottom-sm">More effective, less time.</h3>
          <p>Mirror makes it easier to collect relevant information and ideas,
            so you can move on to to the important discussion - all based on your team's
            feedback. Mirror helps you to facilitate and keep everyone focused, while
            acheiving each retrospective's goal of continuous improvement.</p>
          <p>In addition, each time you use Mirror, we'll remind you of the last
            retrospective's action items, so you can decide as a team whether you
            think you accomplished them or not.</p>
        </div>
        <div class="col-sm-4 text-center marketing-block hidden-xs">
          <img class="marketing-icon lg" style="width: 100%;" src="/img/marketing/time.svg" />
        </div>
      </div>
    </div>
  </section>

  <section class="white-bg pad-top-xl pad-bottom-xl">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center marketing-block">
          <img class="marketing-icon lg" style="width: 100%;" src="/img/marketing/launch.svg" />
        </div>
        <div class="col-sm-8 marketing-block">
          <h3 class="pad-bottom-sm">Take your retrospectives to the next level.</h3>
          <p>Retrospectives are one of the most important agile ceremonies. The
            important discussions that can spawn from a retrospective help the team
            to continuously reflect on itself and figure out how to become better.
            Start making the most of your retrospectives and get started today!</p>
            <div class="pad-top-md">
              {{#link-to "auth.register" class="btn btn-danger btn-lg btn-outline"}}Let's Get Started!{{/link-to}}
            </div>
        </div>
      </div>
    </div>
  </section>
</div>
