<header class="contextual-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-pane">
          <h2 class="text-center">{{model.organization.name}}</h2>
        </div>
        <div class="tab-pane">
          <ul class="title-tabs">
            {{#if isAdmin}}
                <li>{{#link-to "app.organizations.organization.dashboard.billing" model.organization}}Billing{{/link-to}}</li>
                <li>{{#link-to "app.organizations.organization.dashboard.teams" model.organization}}Teams{{/link-to}}</li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

{{outlet}}
