<header class="header-tabs">

</header>
<div class="container">
  {{model.team.name}}
  <div class="row">
    <div class="col-md-4">
      <div class="card">

      </div>
    </div>
    <div class="col-md-4">
      <div class="card">

      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h3>Team Members</h3>
      </div>
    </div>
  </div>
</div>
