<header class="contextual-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-pane">
          <h2 class="text-center">{{model.team.name}}</h2>
        </div>
        <div class="tab-pane">
          <ul class="title-tabs">
            <li>{{#link-to "app.teams.team.dashboard.retrospectives" model.team}}Retrospectives{{/link-to}}</li>
            <li>{{#link-to "app.teams.team.dashboard.members" model.team}}Members{{/link-to}}</li>
            <li>{{#link-to "app.teams.team.dashboard.history" model.team}}History{{/link-to}}</li>
            {{#if isAdmin}}
              <li>{{#link-to "app.teams.team.dashboard.admin" model.team}}Preferences{{/link-to}}</li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

{{outlet}}
