<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{#x-card title="Retrospectives"}}
        Retrospective
      {{/x-card}}
    </div>
    <div class="col-md-4">
      {{#x-card title="Helpful Tips"}}
        <ul class="tips">
          <li>
            Any member of the team can start a retrospective. This person
            becomes the moderator.
          </li>
          <li>
            Once a retrospective begins, team members will no longer be given
            the option to start a retrospective. Instead, they will see the
            option to join the session in progress.
          </li>
        </ul>
      {{/x-card}}
    </div>
  </div>
</div>
