<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{#x-card title="Payment Methods"}}
        {{#if model.cards}}
          {{billing-list cards=model.cards}}
        {{else}}
          There are currently no cards stored for your organization.
        {{/if}}
      {{/x-card}}
    </div>
    <div class="col-md-4">
        {{x-billing-card 
          title="Add New Payment Method"
          afterSubmission=(route-action "newOrganizationBilling")
        }}
    </div>
  </div>
</div>