<div class="container">
  <div class="row">
    <div class="col-md-12">
        {{#x-card title="Enter Billing Information"}}
            {{#stripe-billing}}{{/stripe-billing}}
        {{/x-card}}
    </div>
  </div>
</div>