<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{#x-card title="Billing"}}
        All teams start with a 30 day free trial, with billing beginning on the 31st day. At the end of the trial period, a payment method is required to continue running retrospectives.
        You can choose whether you would like payments to be charged monthly or yearly, depending on what suits your needs.
      {{/x-card}}
      {{#x-card title="Payment Methods"}}
        {{#if model.cards}}
          {{billing-list 
            cards=model.cards 
            default_payment=model.organization.default_payment
            onMakeDefault=(route-action "makeDefaultBillingInformation")
            onConfirm=(route-action "confirmAction")
            onDelete=(route-action "deleteBillingInformation")
            onEdit=(route-action "editBillingInformation")
          }}
        {{else}}
          There are currently no cards stored for your organization.
        {{/if}}
      {{/x-card}}
    </div>
    <div class="col-md-4">
        {{#x-card title="Billing Frequency"}}
          None (Trial Only)<br/>
          Monthly ($6/Month/Team)<br/>
          Yearly ($60/Year/Team) <span class="muted-text">• 16% off</span>
        {{/x-card}}
        {{x-billing-card 
          title="Add New Payment Method"
          afterSubmission=(route-action "newOrganizationBilling")
          loadMethod=(route-action "toggleLoadingScreen" "Updating Payment Methods...")
        }}
    </div>
  </div>
</div>

{{#if currentlyLoading}}
  <div class="loading-screen">
    {{x-loader message=loadingMessage}}
  </div>
{{/if}}