<div class="container">
  <div class="row">
    <div class="col-md-6">
      {{#x-card title="Cards On File"}}
        {{#each model.cards as |card|}}
        There are currently no cards stored for your organization.
      {{/x-card}}
    </div>
    <div class="col-md-6">
        {{x-billing-card 
          title="Add New Billing Information"
          afterSubmission=(route-action "newOrganizationBilling")
        }}
    </div>
  </div>
</div>