<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="Waiting for team members to join..."}}
            SCORE
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#if model.isModerator}}
          {{#x-card title="Moderator"}}
            <a {{action "startRetrospective"}} class="btn btn-block btn-success">Start The Retrospective</a>
          {{/x-card}}
        {{/if}}
        {{#x-card title="Waiting for team members to join..."}}
            {{!--{{retrospective-member-list
                members=model.team_members
                joined_members=model.retrospective.participants 
                currentUser=model.currentUser
            }}--}}
        {{/x-card}}
      </div>
    </div>
  </div>
</div>
