<div class="hero front-page"></div>

<div id="learn-more">
  <section class="white-bg pad-top-xl pad-bottom-xl">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="pad-bottom-sm">
            Retrospectives are important. Mirror makes them better.
          </h3>
          <h4 class="pad-bottom-lg">
            Retrospectives are an extremely useful ceremony where you can learn what's going
            great with your team... and what's not so great. Even if your team isn't agile, retrospectives are a very
            powerful way to solicit feedback from your team, and improve based on that feedback.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center marketing-block marketing-block-stacked">
          <img class="marketing-icon" alt="happier teams" src="/img/marketing/happier-teams.svg">
          <h4>Happier Teams</h4>
          <p>Retrospectives help teams adopt new changes based on input from the people that matter most: team members.</p>
        </div>
        <div class="col-md-4 text-center marketing-block marketing-block-stacked">
          <img class="marketing-icon" alt="constant feedback" src="/img/marketing/constant-feedback.svg">
          <h4>Constant Feedback</h4>
          <p>Teams improve when members can provide open, honest feedback on ways they think the team could improve.</p>
        </div>
        <div class="col-md-4 text-center marketing-block marketing-block-stacked">
          <img class="marketing-icon" alt="team actions" src="/img/marketing/crowd.svg">
          <h4>Take Action</h4>
          <p>
            To fully realize the benefits of retrospectives, actions to resolve issues should be agreed upon by the
            team.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="pad-top-xl pad-bottom-xl">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="pad-bottom-lg">Mirror helps you facilitate productive, successful retrospectives.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 marketing-block marketing-block-ltr">
          <img class="marketing-icon" alt="amplified voices" src="/img/marketing/voices.svg">
          <div>
            <h4>Amplified Voices</h4>
            <p>
              Feedback is awesome. It is the reason retrospectives help improve your team. But if team members aren't
              willing to speak up and voice their opinion, how can your team begin to get better? With Mirror, feedback
              can be public or anonymous, so team members feel comfortable speaking their mind.
            </p>
          </div>
        </div>
        <div class="col-md-6 marketing-block marketing-block-ltr">
          <img class="marketing-icon" alt="engaging retrospectives" src="/img/marketing/engaging.svg">
          <div>
            <h4>Engaging</h4>
            <p>
              Many teams find retrospectives to be boring, or skip them altogether. This hurts the team in the long
              run, as there is no longer a continuous, honest feedback loop. We provide a number of different
              retrospective games in order to make the discussion different each time, making it more fulfilling.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 marketing-block marketing-block-ltr">
          <img class="marketing-icon" alt="distributed teams" src="/img/marketing/distributed-teams.svg">
          <div>
            <h4>Distributed Teams</h4>
            <p>
              Having a distributed team can be tough. That's usually only amplified when trying to run a
              retrospective. Team members across the world can't put sticky notes up on a board in the office. Our
              retrospectives are run in real-time, in a virtual room, so all team members see what's going on.
            </p>
          </div>
        </div>
        <div class="col-md-6 marketing-block marketing-block-ltr">
          <img class="marketing-icon" alt="powerful data" src="/img/marketing/statistics.svg">
          <div>
            <h4>Powerful Data</h4>
            <p>
              If you make no changes after a retrospective, you're either the most functional team ever, or you're
              doing something wrong. Luckily, we preserve all input to provide useful insight into how the team can
              improve, and you can use that to decide what to take action on, how to move forward, and more.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="white-bg pad-top-xl pad-bottom-xl">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-center marketing-block visible-xs-block">
          <img class="marketing-icon lg full-width" alt="clock" src="/img/marketing/time.svg">
        </div>
        <div class="col-sm-8 marketing-block">
          <h3 class="pad-bottom-sm">More effective, less time.</h3>
          <p>
            Mirror makes it easier to collect relevant information and ideas,
            so you can move on to to the important discussion - all based on your team's
            feedback. Mirror helps you to facilitate and keep everyone focused, while
            acheiving each retrospective's goal of continuous improvement.
          </p>
          <p>
            In addition, each time you use Mirror, we'll remind you of the last
            retrospective's action items, so you can decide as a team whether you
            think you accomplished them or not.
          </p>
        </div>
        <div class="col-sm-4 text-center marketing-block hidden-xs">
          <img class="marketing-icon lg full-width" alt="clock" src="/img/marketing/time.svg">
        </div>
      </div>
    </div>
  </section>

  <section class="secondary-bg pad-top-xl pad-bottom-xl white-text">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center marketing-block">
          <img class="marketing-icon lg full-width" alt="rocket launch" src="/img/marketing/launch.svg">
        </div>
        <div class="col-sm-8 marketing-block">
          <h3 class="pad-bottom-sm">Take your retrospectives to the next level.</h3>
          <p>
            Retrospectives are one of the most important agile ceremonies. The
            important discussions that can spawn from a retrospective help the team
            to continuously reflect on itself and figure out how to become better.
            Start making the most of your retrospectives and get started today!
          </p>
          <div class="pad-top-md">
            {{#link-to "auth.register" class="btn btn-danger btn-lg"}}Let's Get Started!{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>