<div class="nav-push">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				{{#x-card title="Invalid Access Code"}}
					We're sorry... the access code provided doesn't appear to be valid. Please verify the code was entered correctly and try again.
					<div class="card-footer">
						{{#link-to "app.teams.join" class="btn btn-success"}}Try Again{{/link-to}}
					</div>
				{{/x-card}}
			</div>
		</div>
	</div>
</div>