<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="Organizations"}}
          {{#if model.organizations}}
            {{organization-list 
              organizations=model.organizations
              viewOrganization=(route-action "viewOrganization")
            }}
          {{else}}
            It doesn't look like you're a member of any organizations.
          {{/if}}
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#x-card title="Create"}}
            <p>Organizations are used for managing one or many teams, and the billing associated with them.</p>
            <div class="card-footer">
              {{#link-to "app.organizations.create" class="btn btn-success"}}Create An Organization{{/link-to}}
            </div>
        {{/x-card}}
      </div>
    </div>
  </div>
</div>
