<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="Organizations"}}
          {{#if model.organizations}}
            <ul class="table-list">
              {{#each model.organizations as |organization|}}
                <li class="list-item-link" onclick={{route-action "viewOrganization" organization}}>
                  <div class="cell">
                    {{organization.name}}
                  </div>
                  <div class="text-right cell">
                    <span class="label label-danger">
                      {{pluralize-word organization.teams.length "team"}}
                      {{#tooltip-on-element side="left"}}
                        Billing is not active.
                      {{/tooltip-on-element}}
                    </span>
                  </div>
                </li>
              {{/each}}
            </ul>
          {{else}}
            It doesn't look like you're a member of any organizations.
          {{/if}}
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#x-card title="Create"}}
            <p>Organizations are used for managing one or many teams, and the billing associated with them.</p>
            {{#link-to "app.organizations.create" class="btn btn-success btn-block"}}Create An Organization{{/link-to}}
        {{/x-card}}
      </div>
    </div>
  </div>
</div>
