@mixin add-padding($location, $size) {
  padding-#{$location}: $size;
}

@mixin add-margin($location, $size) {
  margin-#{$location}: $size;
}

.pad-xs {
  @include add-padding(top, 5px);
  @include add-padding(right, 5px);
  @include add-padding(bottom, 5px);
  @include add-padding(left, 5px);
}

.pad-top-xs {
  @include add-padding(top, 5px);
}
.pad-right-xs {
  @include add-padding(right, 5px);
}
.pad-bottom-xs {
  @include add-padding(bottom, 5px);
}
.pad-left-xs {
  @include add-padding(left, 5px);
}

.pad-sm {
  @include add-padding(top, 10px);
  @include add-padding(right, 10px);
  @include add-padding(bottom, 10px);
  @include add-padding(left, 10px);
}

.pad-top-sm {
  @include add-padding(top, 10px);
}
.pad-right-sm {
  @include add-padding(right, 10px);
}
.pad-bottom-sm {
  @include add-padding(bottom, 10px);
}
.pad-left-sm {
  @include add-padding(left, 10px);
}

.pad-md {
  @include add-padding(top, 20px);
  @include add-padding(right, 20px);
  @include add-padding(bottom, 20px);
  @include add-padding(left, 20px);
}

.pad-top-md {
  @include add-padding(top, 20px);
}
.pad-right-md {
  @include add-padding(right, 20px);
}
.pad-bottom-md {
  @include add-padding(bottom, 20px);
}
.pad-left-md {
  @include add-padding(left, 20px);
}

.pad-lg {
  @include add-padding(top, 30px);
  @include add-padding(right, 30px);
  @include add-padding(bottom, 30px);
  @include add-padding(left, 30px);
}

.pad-top-lg {
  @include add-padding(top, 30px);
}
.pad-right-lg {
  @include add-padding(right, 30px);
}
.pad-bottom-lg {
  @include add-padding(bottom, 30px);
}
.pad-left-lg {
  @include add-padding(left, 30px);
}

.pad-xl {
  @include add-padding(top, 50px);
  @include add-padding(right, 50px);
  @include add-padding(bottom, 50px);
  @include add-padding(left, 50px);
}

.pad-top-xl {
  @include add-padding(top, 50px);
}
.pad-right-xl {
  @include add-padding(right, 50px);
}
.pad-bottom-xl {
  @include add-padding(bottom, 50px);
}
.pad-left-xl {
  @include add-padding(left, 50px);
}

.mg-sm {
  @include add-margin(top, 10px);
  @include add-margin(right, 10px);
  @include add-margin(bottom, 10px);
  @include add-margin(left, 10px);
}

.mg-top-sm {
  @include add-margin(top, 10px);
}
.mg-right-sm {
  @include add-margin(right, 10px);
}
.mg-bottom-sm {
  @include add-margin(bottom, 10px);
}
.mg-left-sm {
  @include add-margin(left, 10px);
}

.mg-md {
  @include add-margin(top, 20px);
  @include add-margin(right, 20px);
  @include add-margin(bottom, 20px);
  @include add-margin(left, 20px);
}

.mg-top-md {
  @include add-margin(top, 20px);
}
.mg-right-md {
  @include add-margin(right, 20px);
}
.mg-bottom-md {
  @include add-margin(bottom, 20px);
}
.mg-left-md {
  @include add-margin(left, 20px);
}

.mg-lg {
  @include add-margin(top, 30px);
  @include add-margin(right, 30px);
  @include add-margin(bottom, 30px);
  @include add-margin(left, 30px);
}

.mg-top-lg {
  @include add-margin(top, 30px);
}
.mg-right-lg {
  @include add-margin(right, 30px);
}
.mg-bottom-lg {
  @include add-margin(bottom, 30px);
}
.mg-left-lg {
  @include add-margin(left, 30px);
}

.mg-xl {
  @include add-margin(top, 50px);
  @include add-margin(right, 50px);
  @include add-margin(bottom, 50px);
  @include add-margin(left, 50px);
}

.mg-top-xl {
  @include add-margin(top, 50px);
}
.mg-right-xl {
  @include add-margin(right, 50px);
}
.mg-bottom-xl {
  @include add-margin(bottom, 50px);
}
.mg-left-xl {
  @include add-margin(left, 50px);
}

.white-bg {
  background-color: $white;
}

.secondary-bg {
  background-color: $brand-secondary;
}

.primary-bg {
  background-color: $brand-primary;
}

.success-bg {
  background-color: $brand-success;
}

.info-bg {
  background-color: $brand-info;
}

.warning-bg {
  background-color: $brand-warning;
}

.danger-bg {
  background-color: $brand-danger;
}

.white-text {
  color: $white;
}

.primary-text {
  color: $brand-primary;
}

.secondary-text {
  color: $brand-secondary;
}

.success-text {
  color: $brand-success;
}

.info-text {
  color: $brand-info;
}

.warning-text {
  color: $brand-warning;
}

.danger-text {
  color: $brand-danger;
}

.muted-text {
  color: $brand-light-text;
}

.text-center-xs {
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}
.text-left-xs {
  @media (max-width: $screen-xs-max) {
    text-align: left;
  }
}
.text-right-xs {
  @media (max-width: $screen-xs-max) {
    text-align: right;
  }
}

.text-center-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    text-align: center;
  }
}
.text-left-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    text-align: left
  }
}
.text-right-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    text-align: right;
  }
}

.full-width {
  width: 100% !important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.flex-column {
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}

.flex-row {
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}

.flex-fill {
  -ms-flex: 1 1 auto!important;
  flex: 1 1 auto!important;
}