@font-face {
    font-family: 'line-32-users';
    src:    url('/fonts/line-32-users.eot?n8xlec');
    src:    url('/fonts/line-32-users.eot?n8xlec#iefix') format('embedded-opentype'),
        url('/fonts/line-32-users.woff2?n8xlec') format('woff2'),
        url('/fonts/line-32-users.ttf?n8xlec') format('truetype'),
        url('/fonts/line-32-users.woff?n8xlec') format('woff'),
        url('/fonts/line-32-users.svg?n8xlec#line-32-users') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'line-32-users' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-use-connect:before {
    content: "\e900";
}
.icon-use-fem-chat:before {
    content: "\e901";
}
.icon-use-fem-cross:before {
    content: "\e902";
}
.icon-use-fem-edit:before {
    content: "\e903";
}
.icon-use-fem-fem-fem:before {
    content: "\e904";
}
.icon-use-fem-fem-male:before {
    content: "\e905";
}
.icon-use-fem-fem:before {
    content: "\e906";
}
.icon-use-fem-location:before {
    content: "\e907";
}
.icon-use-fem-male:before {
    content: "\e908";
}
.icon-use-fem-minus:before {
    content: "\e909";
}
.icon-use-fem-plus:before {
    content: "\e90a";
}
.icon-use-fem-reply:before {
    content: "\e90b";
}
.icon-use-fem-script:before {
    content: "\e90c";
}
.icon-use-fem-search:before {
    content: "\e90d";
}
.icon-use-fem-secure:before {
    content: "\e90e";
}
.icon-use-fem-settings:before {
    content: "\e90f";
}
.icon-use-fem-tick:before {
    content: "\e910";
}
.icon-use-fem-warning:before {
    content: "\e911";
}
.icon-use-fem:before {
    content: "\e912";
}
.icon-use-male-chat:before {
    content: "\e913";
}
.icon-use-male-cross:before {
    content: "\e914";
}
.icon-use-male-edit:before {
    content: "\e915";
}
.icon-use-male-fem:before {
    content: "\e916";
}
.icon-use-male-location:before {
    content: "\e917";
}
.icon-use-male-male-fem:before {
    content: "\e918";
}
.icon-use-male-male-male:before {
    content: "\e919";
}
.icon-use-male-male:before {
    content: "\e91a";
}
.icon-use-male-minus:before {
    content: "\e91b";
}
.icon-use-male-plus:before {
    content: "\e91c";
}
.icon-use-male-reply:before {
    content: "\e91d";
}
.icon-use-male-script:before {
    content: "\e91e";
}
.icon-use-male-search:before {
    content: "\e91f";
}
.icon-use-male-secure:before {
    content: "\e920";
}
.icon-use-male-settings:before {
    content: "\e921";
}
.icon-use-male-tick:before {
    content: "\e922";
}
.icon-use-male-warning:before {
    content: "\e923";
}
.icon-use-male:before {
    content: "\e924";
}
.icon-use-rotate:before {
    content: "\e925";
}
.icon-use-structure:before {
    content: "\e926";
}
.icon-use-switch:before {
    content: "\e927";
}
.icon-use-user-chat:before {
    content: "\e928";
}
.icon-use-user-connect:before {
    content: "\e929";
}
.icon-use-user-cross:before {
    content: "\e92a";
}
.icon-use-user-edit:before {
    content: "\e92b";
}
.icon-use-user-location:before {
    content: "\e92c";
}
.icon-use-user-minus:before {
    content: "\e92d";
}
.icon-use-user-plus:before {
    content: "\e92e";
}
.icon-use-user-reply:before {
    content: "\e92f";
}
.icon-use-user-rotate:before {
    content: "\e930";
}
.icon-use-user-script:before {
    content: "\e931";
}
.icon-use-user-search:before {
    content: "\e932";
}
.icon-use-user-secure:before {
    content: "\e933";
}
.icon-use-user-settings:before {
    content: "\e934";
}
.icon-use-user-structure:before {
    content: "\e935";
}
.icon-use-user-switch:before {
    content: "\e936";
}
.icon-use-user-tick:before {
    content: "\e937";
}
.icon-use-user-user-user:before {
    content: "\e938";
}
.icon-use-user-user:before {
    content: "\e939";
}
.icon-use-user-warning:before {
    content: "\e93a";
}
.icon-use-user:before {
    content: "\e93b";
}
