.ember-modal-dialog {
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.ember-modal-overlay {
  z-index: 1027;
}

.ember-modal-dialog {
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1028;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  .modal-content {
    border-radius: 2px;
    border: 1px solid $brand-border;
  }
}

.modal-open .ember-modal-dialog {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  &.success {
    .modal-header {
      box-shadow: inset 3px 0 $brand-success;
      -moz-box-shadow: inset 3px 0 $brand-success;
      -webkit-box-shadow: inset 3px 0 $brand-success;
    }
  }
  &.info {
    .modal-header {
      box-shadow: inset 3px 0 $brand-info;
      -moz-box-shadow: inset 3px 0 $brand-info;
      -webkit-box-shadow: inset 3px 0 $brand-info;
    }
  }
  &.warning {
    .modal-header {
      box-shadow: inset 3px 0 $brand-warning;
      -moz-box-shadow: inset 3px 0 $brand-warning;
      -webkit-box-shadow: inset 3px 0 $brand-warning;
    }
  }
  &.error {
    .modal-header {
      box-shadow: inset 3px 0 $brand-danger;
      -moz-box-shadow: inset 3px 0 $brand-danger;
      -webkit-box-shadow: inset 3px 0 $brand-danger;
    }
  }
}
