.note {
    width: 100%;
    min-height: 200px;
    padding: 15px;
    color: $white;
    border-radius: 2px;
    margin-bottom: 15px !important;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-align: center;

    &:last-of-type {
        margin-bottom: 0 !important;
    }

    &.good {
        @extend .success-bg;
    }

    &.bad {
        @extend .danger-bg;
    }

    .note--provider {
        text-transform: uppercase;
        font-size: 11px;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        padding: 3px;
        margin: -3px;
        margin-bottom: 3px;
        color: rgba(255,255,255,0.8);
    }

    .note--top {
        margin-bottom: auto;

        .note--content {
            white-space: pre-line;

            &:first-line {
                line-height: 0;
            }
        }
    }

    .note--bottom {
        padding-top: 15px;
        margin-top: auto;
    }

    .note--action {
        text-align: center;

        .btn {
            font-weight: bold;
            font-size: 10px;
            text-transform: uppercase;
        }
    }
}

.drop-zones {
    display: flex;
    
    .dz {
        flex: 1;
        padding: 0 6px;

        p {
            padding: 0 5px;
        }
    }
}

.drop-zone {
    width: 100%;
    padding: 5px;
    height: calc(100% - 29px);
}

.dz-border {
    border: 3px dashed #bbb;
    padding: 2px;
}

.feedback-nav a {
    color: $brand-secondary;
    &:hover, &:focus, &:active {
        color: darken($brand-secondary, 10%);
    }
}