{{outlet}}

{{#if isActionModalShowing}}
  {{#x-modal
    onClose=(route-action "closeActionModal")
    title="Take Action"
  }}
    {{#x-modal-body}}
      <p>If your team wants to do something in regards to this feedback, enter how you plan to take action.</p>
      {{textarea class="form-control" value=activeFeedback.action.message}}
    {{/x-modal-body}}
    {{#x-modal-footer}}
      <a {{action 'closeActionModal'}} class="btn btn-default btn-outline">Cancel</a>
      <a {{action 'submitActionItem' action}} class="btn btn-success">Submit</a>
    {{/x-modal-footer}}
  {{/x-modal}}
{{/if}}