.scores {
    @media (max-width: $screen-md-max) {
        display: flex;
    }
}

.score-legend {
    @media (max-width: $screen-md-max) {
        display: flex;
        justify-content: center;
        align-items: center;

        .row {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            height: 100%;
        
            & > * {
                display:flex;
                justify-content: center;
                align-items: center;
                flex: 0 0 100%;
                max-height: 30%;
                min-height: 30%;
                max-width: 100%;
                margin-bottom: 10px;
            }

            & > .col-lg-4 {
                max-height: 40%;
                min-height: 40%;
            }
            
            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }
    
}

.radio-button {
    label.sprint-score {
        padding: 0;
        text-align: center;
        cursor: pointer;
        display: block;
        width: 100%;
        border: 1px solid #000;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 2px;
        
        &.score-1, &.score-2, &.score-3 {
            color: $brand-danger;
            border-color: $brand-danger;
        }

        &.score-4, &.score-5, &.score-6, &.score-7 {
            color: $brand-warning;
            border-color: $brand-warning;
        }

        &.score-8, &.score-9, &.score-10 {
            color: $brand-success;
            border-color: $brand-success;
        }
    }

    @media (max-width: $screen-md-max) {
        margin-bottom: 10px;
    }

    input {
        display: none;
    }

    input[type=radio]:checked + label {
        &.score-1, &.score-2, &.score-3 {
            color: $white;
            background: $brand-danger;
        }

        &.score-4, &.score-5, &.score-6, &.score-7 {
            color: $white;
            background: $brand-warning;
        }

        &.score-8, &.score-9, &.score-10 {
            color: $white;
            background: $brand-success;
        }
    }
}