.radio-button {
    label.sprint-score {
        padding: 0;
        text-align: center;
        cursor: pointer;
        display: block;
        width: 100%;
        border: 1px solid #000;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 2px;
    }

    input {
        display: none;
    }

    input[type=radio]:checked + label {
    }
}