// These 3 need to come first
@import 'bootstrap';
@import 'bootstrap-custom/variables';
@import 'helper-classes';

@import 'bootstrap-custom/navbar';
@import 'bootstrap-custom/buttons';
@import 'bootstrap-custom/forms';
@import 'bootstrap-custom/alerts';
@import 'bootstrap-custom/dropdown';

html {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  margin-top: 30px;
  background-color: $brand-dark;
  color: $white;
  font-family: 'Montserrat';
  text-align: center;
  line-height: 60px;
}

body {
  //padding-top: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #F4F4F4;
  margin-bottom: 90px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
}

.hero {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;

  &.front-page {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../img/hero2.jpg') top center;
    height: 700px;
  }
}

.nav-push {
  padding-top: 110px;

  @media (max-width: $screen-xs-max) {
    padding-top: 80px;
  }
}

.card {
  background: rgba(255,255,255,0.8);
  padding: 20px;
  border-radius: 2px;
  border: 1px solid rgba(73,80,84,.15);
  margin-bottom: 30px;
}

.gravatar-nav {
  height: 14px;
  width: 14px;
  border-radius: 7px;
}
