<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="pad-bottom-md text-center">
          {{fa-icon "medium" fixedWidth=true size=2}}
          <h2 class="pad-top-sm">Join A Team</h2>
        </div>
        {{#x-card}}
          {{#if errors.length}}
            <div class="alert alert-danger" role="alert">
              {{fa-icon "exclamation-triangle"}} Please correct the highlighted fields below.
            </div>
          {{/if}}
          <div class="form-group">
            {{input type="text" class="form-control" placeholder="Team Access Code" value=accessCode}}
          </div>
          <div class="card-footer">
              <button {{action "joinTeam"}} type="submit" class="btn btn-success">Join Team</button>
          </div>
        {{/x-card}}
      </div>
    </div>
  </div>
</div>
