<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{#x-card title="Members"}}
        {{team-member-list
          members=model.members
          team=model.team
          currentUser=model.currentUser
          isAdmin=isAdmin
          onConfirm=(route-action "confirmAction")
          onMakeAdmin=(route-action "addAdmin")
          onRemoveAdmin=(route-action "removeAdmin")
          onDelete=(route-action "deleteMember")}}
      {{/x-card}}
    </div>
    <div class="col-md-4">
      {{#x-card title="Key"}}
        <ul class="icons-list">
          {{#if isAdmin}}
            <li class="icons-list--promote">
              Promote a team member to a team admin
            </li>

            <li class="icons-list--demote">
              Remove a team member's admin priveleges
            </li>

            <li class="icons-list--remove">
              Remove a member from the team
            </li>

            <li class="icons-list--leave">
              Leave the team
            </li>
          {{else}}
            <li class="icons-list--leave">
              Leave the team
            </li>
          {{/if}}

          <li class="icons-list--profile">
            View the team member's profile
          </li>
        </ul>
      {{/x-card}}
    </div>
  </div>
</div>

<!-- {{#if adminWarning}}
  {{#x-notification-modal
    title="Something Went Wrong"
    type="error"
    onClose=(route-action "toggleAdminWarning")}}
    It looks like you're currently the only admin on the team. In order to leave
    the team, you must assign another admin.
  {{/x-notification-modal}}
{{/if}}

{{#if confirmRemoveModal}}
  {{#x-confirm-modal
    title="Are you sure?"
    onClose=(route-action "toggleModal")
    onCancel=(route-action "toggleModal")
    onConfirm=(route-action "toggleModal")}}
    Oh hai there!
  {{/x-confirm-modal}}
{{/if}} -->
