<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="Waiting for team members to join..."}}
            {{retrospective-member-list
                members=model.team_members
                joined_members=model.retrospective.participants 
                currentUser=model.currentUser
            }}
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#x-card title="While you wait..."}}
            <p>Take a minute to remember what happened over the last sprint and be prepared to discuss ways the sprint was great, as well as ways to improve.</p>
        {{/x-card}}
        <a class="btn btn-block btn-success">Start The Retrospective</a>
      </div>
    </div>
  </div>
</div>
